.gallery {
  @media only screen and (max-height: 800px) {
    .link-list-container {
      display: none;
    }
  }
  @media only screen and (max-height: 830px) {
    .link-list-container {
      line-height: 20px;
      margin-bottom: -8px;
    }
  }
}
