/* .album-cover {
  background-image: url("../images/album-cover.jpg");
  max-width: 720px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 60vh;
}

@media only screen and (min-width: 630px) {
  .album-cover {
    background-size: cover;
    height: 90vh;
  }
} */

body {
  font-family: "Anton", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

#album-cover {
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  #album-cover {
    width: 70%;
  }
}
