@media only screen and (min-width: 800px) {
  .link-list-container {
    margin-top: 10px;
  }
}


.link-list {
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .link-list {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
}

